<div class="ocelot-background">
<h1>I Am The Destroyer Of All Ducks</h1>
<p> Ducks are lies spawned by the Dolphin to create discord and confusion among the land-livers - the place where the Dolphins cannot walk. Until either humans evolve to be able to live underwater or Dolphins evolve to walk upon land, something needs to be done about these horrid lies - which is where the Order of the Ocelot comes in. Our sacred animal is a Snapping Turtle, eater of baby ducks.
<p>If you would join our cause, shoot a duck with a shotgun loaded with a bullet made from the shell of the Snapping Turtle - the duck's ultimate foe - and eat the sacred meal of the organization: the potatoes cooked in the fat of our foes. Save the feathers from the carcass; you will need it to make a headress upon initiation - something to warn others of their ilk of your calling and purpose in the world. The feathers of their dead comrades will serve as a warning to these feculant creatures that their evil deception will no longer be tolerated.</p>
<!-- <%= image_tag("ocelot.jpg") %> -->

  
</div>

